
*.dll
*.xml
*.pdb
*.cache
*.BuildWithSkipAnalyzers
*.CopyComplete
*.editorconfig
*.json
*.targets
*.props
obj/Debug/net6.0/StealthOnly.csproj.FileListAbsolute.txt
obj/Debug/net6.0/StealthOnly.AssemblyInfo.cs
obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
*.vsidx
*.bin
*.v2
bin/Debug/net6.0/tModPorter.dll.config
.vs/StealthOnly/v17/.suo
